@page "/post"

@attribute [Authorize]


<PageTitle>Должности</PageTitle>



<AuthorizeView Roles="Администратор, Отдел кадров">
    <Authorized >
        <RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="Должности">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">
                        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@AddPost">
                </RadzenButton>
                        <RadzenDataGrid @ref="grid" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getPostResult" TItem="Post" RowSelect="@PostRowSelect" EmptyText="@ConstantValues.COLLECTION_EMPTY" AllowColumnResize="true" PageSize="8"
                                        EqualsText="Равно" NotEqualsText="Не равно" ContainsText="Содержит" DoesNotContainText="Не содержит" IsNotEmptyText="Не пустое" AndOperatorText="И" OrOperatorText="Или"
                                        StartsWithText="Начинается с" EndsWithText="Заказнчивается с" IsNullText="Не записано" IsNotNullText="Записано" IsEmptyText="Пустое" LessThanText="Меньше чем" LessThanOrEqualsText="Меньше или равно"
                                        GreaterThanText="Больше чем" GreaterThanOrEqualsText="Больше или равно" FilterText="Фильтр" ApplyFilterText="Применить" ClearFilterText="Очистить">
                    <Columns>
                        <RadzenDataGridColumn  TItem="Post" Property="Name" Title="Название должности">
                        </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Post" Property="Salary" Title="Зарплата">
                                </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Post" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                            <Template Context="_context">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="(agrs => DeletePost(agrs, _context))" @onclick:stopPropagation="true">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
    </Authorized>
    <NotAuthorized>
        <RadzenLabel Style="text-align:center"  Text="@ConstantValues.ERROR_CLAIMS"/>
    </NotAuthorized>
</AuthorizeView>







