@page "/edit-purchase/{Id_Purchase}"
@layout MainLayout

@attribute [Authorize(Roles="Администратор, Отдел закупок")]

<RadzenContent Container="main">
    <ChildContent>

        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@purchase" TItem="Purchase" Submit="@HandleEdit">
                    <ChildContent>
                        <DataAnnotationsValidator/>
                        @if (@HaveErrors)
                        {
                            <RadzenHeading Size="H6" Text="@Error" Style="text-align: center; color: red">
                            </RadzenHeading>
                        }
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Количество" Component="Amount" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenNumeric MaxLength="3" style="display: block; width: 100%" @bind-Value="@(purchase.Amount)">
                                </RadzenNumeric>
                                <ValidationMessage For="@(() => purchase.Amount)" />
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Цена состава заказа" Component="Price" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenNumeric MaxLength="3" style="display: block; width: 100%" @bind-Value="@(purchase.Price)">
                                </RadzenNumeric>
                                <ValidationMessage For="@(() => purchase.Price)" />
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Дата поставки" Component="Date_order" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenDatePicker @bind-Value=@purchase.Date_Purchase DateFormat="d" Class="w-100" />
                                <ValidationMessage For="@(() => purchase.Date_Purchase)" />
                            </div>
                        </div>
                        <div class="row footer">
                            <div>
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonType="ButtonType.Button" Text="Закрыть" ButtonStyle="ButtonStyle.Danger" Click="@Close">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>


