@layout MainLayout

@attribute [Authorize(Roles="Администратор, Бухгалтер")]

<RadzenContent Container="main">
    <ChildContent>

        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@salaryHistory" TItem="SalaryHistory" Submit="@HandleAdd">
                    <ChildContent>
                        <DataAnnotationsValidator/>
                        @if (@HaveErrors)
                        {
                            <RadzenHeading Size="H6" Text="@Error" Style="text-align: center; color: red">
                            </RadzenHeading>
                        }
                        <div>
                            <RadzenLabel Text="Сотрудник" Component="User" style="width: 100%">
                            </RadzenLabel>
                        </div>
                        <div>
                            <RadzenDropDownDataGrid @ref="grid" SearchText="Поиск по ФИО сотрудника или должности" AllowFilteringByAllStringColumns="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowColumnResize="true" TValue="UserPost" Data="@users" Multiple="false" SelectedItemsText="Выбранных элементов" @bind-Value="@(salaryHistory.UserPost)" style="width: 100%" TextProperty="User.Last_name">
                                    <Columns>
                                    <RadzenDropDownDataGridColumn Property="User.Fullname" Title="ФИО сотрудника">
                                    </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="Post.Name" Title="Должность">
                                    </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="Share" Title="Ставка">
                                    </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="ActSalary" Title="Зарплата сотрудника">
                                    </RadzenDropDownDataGridColumn>
                                    </Columns>
                                </RadzenDropDownDataGrid>
                            <ValidationMessage For="@(() => salaryHistory.UserPost)" />
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Сумма оплаты" Component="Cost" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(salaryHistory.Payment)">
                                </RadzenNumeric>
                                <ValidationMessage For="@(() => salaryHistory.Payment)" />
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Дата оплаты" Component="Date" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenDatePicker @bind-Value=@salaryHistory.Date DateFormat="d" Class="w-100"/>
                                <ValidationMessage For="@(() => salaryHistory.Date)" />
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Премия" Component="Premium" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenCheckBox TriState="false" @bind-Value=@salaryHistory.Premium/>
                                <ValidationMessage For="@(() => salaryHistory.Premium)" />
                            </div>
                        </div>
                        <div class="row footer">
                            <div>
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonType="ButtonType.Button" Text="Закрыть" ButtonStyle="ButtonStyle.Danger" Click="@Close">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>








