@page "/edit-salaryhistory/{Id_SalaryHistory}"
@layout MainLayout

@attribute [Authorize(Roles = "Администратор, Бухгалтер")]




<RadzenContent Container="main">
    <ChildContent>

        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@salaryHistory" TItem="SalaryHistory" Submit="@HandleEdit">
                    <ChildContent>
                        <DataAnnotationsValidator />
                        @if (@HaveErrors)
                        {
                            <RadzenHeading Size="H6" Text="@Error" Style="text-align: center; color: red">
                            </RadzenHeading>
                        }
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Сумма оплаты" Component="Cost" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(salaryHistory.Payment)">
                                </RadzenNumeric>
                                <ValidationMessage For="@(() => salaryHistory.Payment)" />
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Дата оплаты" Component="Date" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenDatePicker @bind-Value=@salaryHistory.Date DateFormat="d" Class="w-100" />
                                <ValidationMessage For="@(() => salaryHistory.Date)" />
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Премия" Component="Premium" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenCheckBox TriState="false" @bind-Value=@salaryHistory.Premium />
                                <ValidationMessage For="@(() => salaryHistory.Premium)" />
                            </div>
                        </div>
                        <div class="row footer">
                            <div>
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonType="ButtonType.Button" Text="Закрыть" ButtonStyle="ButtonStyle.Danger" Click="@Close">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>





