@page "/salaryhistory"

@attribute [Authorize]


<PageTitle>История зарплат</PageTitle>


<AuthorizeView Roles="Администратор, Бухгалтер">
    <Authorized>
        <RadzenContent Container="main">
            <ChildContent>
                <RadzenHeading Size="H1" Text="Зарплаты">
                </RadzenHeading>
                <div class="row">
                    <div class="col-md-12">
                        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@AddSalaryHistory">
                        </RadzenButton>
                        <RadzenDataGrid @ref="grid" RowSelect="@SalaryHistoryRowSelect" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" Data="@getSalaryHistoryResult" AllowPaging="true" AllowSorting="true" TItem="SalaryHistory" EmptyText="@ConstantValues.COLLECTION_EMPTY" AllowColumnResize="true" PageSize="8"
                                        EqualsText="Равно" NotEqualsText="Не равно" ContainsText="Содержит" DoesNotContainText="Не содержит" IsNotEmptyText="Не пустое" AndOperatorText="И" OrOperatorText="Или"
                                        StartsWithText="Начинается с" EndsWithText="Заказнчивается с" IsNullText="Не записано" IsNotNullText="Записано" IsEmptyText="Пустое" LessThanText="Меньше чем" LessThanOrEqualsText="Меньше или равно"
                                        GreaterThanText="Больше чем" GreaterThanOrEqualsText="Больше или равно" FilterText="Фильтр" ApplyFilterText="Применить" ClearFilterText="Очистить">
                            <Columns>
                                <RadzenDataGridColumn TItem="SalaryHistory" Property="UserPost.User.Last_name" SortProperty="UserPost.User.Last_name" GroupProperty="UserPost.User.Last_name" FilterProperty="UserPost.User.Last_name" Title="Фамилия сотрудника">
                                    <Template Context="data">
                                        @(data.UserPost?.User?.Last_name)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="SalaryHistory" Property="UserPost.User.First_name" SortProperty="UserPost.User.First_name" GroupProperty="UserPost.User.First_name" FilterProperty="UserPost.User.First_name" Title="Имя сотрудника">
                                    <Template Context="data">
                                        @(data.UserPost?.User?.First_name)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="SalaryHistory" Property="UserPost.User.Otch" SortProperty="UserPost.User.Otch" GroupProperty="UserPost.User.Otch" FilterProperty="UserPost.User.Otch" Title="Отчество сотрудника">
                                    <Template Context="data">
                                        @(data.UserPost?.User?.Otch)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="SalaryHistory" Property="UserPost.Post.Name" SortProperty="UserPost.Post.Name" GroupProperty="UserPost.Post.Name" FilterProperty="UserPost.Post.Name" Title="Должность сотрудника">
                                    <Template Context="data">
                                        @(data.UserPost?.Post?.Name)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="SalaryHistory" Property="Date" Title="Дата выплаты">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="SalaryHistory" Property="Payment" Title="Сумма выплаты">
                                    <FooterTemplate>
                                        Сумма выплат: <b>@(grid.View.Sum(x => x.Payment))</b>
                                    </FooterTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="SalaryHistory" Property="Premium" SortProperty="Premium" GroupProperty="Premium" FilterProperty="Premium" Title="Премия">
                                    <Template Context="data">
                                        <RadzenCheckBox Value="@data.Premium" Disabled = "true"/>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="SalaryHistory" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                    <Template Context="_context">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" @onclick:stopPropagation="true" Click="@((args) => DeleteSalaryHistory(args, _context))">
                                        </RadzenButton>
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    </Authorized>
    <NotAuthorized>
        <RadzenLabel Style="text-align:center" Text="@ConstantValues.ERROR_CLAIMS" />
    </NotAuthorized>
</AuthorizeView>





