@page "/user"
@using Blazored.LocalStorage
@using KR.Web.Constants
@using Kr.Models
@using System.ComponentModel
@using KR.Web.Services
@using MudBlazor
@attribute [Authorize]


<PageTitle>Пользователи</PageTitle>






<AuthorizeView Roles="Администратор, Отдел кадров" Context="_context">
    <Authorized>
        <RadzenContent Container="main">
            <ChildContent>
                <RadzenHeading Size="H1" Text="Пользователи">
                </RadzenHeading>
                <div class="row">
                    <div class="col-md-12">
                        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добавить" Click="@AddUser">
                        </RadzenButton>
                        <RadzenButton Icon="assignment_returned" style="margin-bottom: 10px" Text="Экспорт сотрудников" Click="@GetDoc">
                        </RadzenButton>
                        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFile" Accept=".csv" style="margin-bottom: 10px">
                            <ButtonTemplate>
                                <MudButton HtmlTag="label"
                                            Variant="MudBlazor.Variant.Filled"
                                            DisableElevation="true"
                                            Color="Color.Primary"
                                            StartIcon="@Icons.Filled.CloudUpload"
                                            for="@context">
                                        Импортировать сотрудников
                                </MudButton>
                            </ButtonTemplate>
                        </MudFileUpload>
                        <RadzenDataGrid @ref="grid" RowSelect="@UserRowSelect" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" Data="@getUserResult" AllowPaging="true" AllowSorting="true" TItem="User" EmptyText="@ConstantValues.COLLECTION_EMPTY" AllowColumnResize="true" PageSize="8"
                                        EqualsText="Равно" NotEqualsText="Не равно" ContainsText="Содержит" DoesNotContainText="Не содержит" IsNotEmptyText="Не пустое" AndOperatorText="И" OrOperatorText="Или"
                                        StartsWithText="Начинается с" EndsWithText="Заказнчивается с" IsNullText="Не записано" IsNotNullText="Записано" IsEmptyText="Пустое" LessThanText="Меньше чем" LessThanOrEqualsText="Меньше или равно"
                                        GreaterThanText="Больше чем" GreaterThanOrEqualsText="Больше или равно" FilterText="Фильтр" ApplyFilterText="Применить" ClearFilterText="Очистить">
                            <Columns>
                                <RadzenDataGridColumn TItem="User" Property="Last_name" Title="Фамилия">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="User" Property="First_name" Title="Имя">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="User" Property="Otch" Title="Отчество">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="User" Property="BirthDate" Title="Дата рождения">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="User" Property="Account" SortProperty="Account.Login" GroupProperty="Account.Login" FilterProperty="Account.Login" Title="Логин">
                                    <Template Context="data">
                                        @(data.Account?.Login)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="User" Property="Account" SortProperty="Account.Email" GroupProperty="Account.Email" FilterProperty="Account.Email" Title="Электронная почта">
                                    <Template Context="data">
                                        @(data.Account?.Email)
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="User" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                    <Template Context="_context_">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" @onclick:stopPropagation="true" Click="@((args) => DeleteUser(args, _context_))">
                                        </RadzenButton>
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </ChildContent>
        </RadzenContent>
    </Authorized>
    <NotAuthorized>
        <RadzenLabel Style="text-align:center" Text="@ConstantValues.ERROR_CLAIMS" />
    </NotAuthorized>
</AuthorizeView>















