@layout MainLayout

@attribute [Authorize(Roles="Администратор, Отдел продаж")]

<RadzenContent Container="main">
    <ChildContent>

        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@orderproduct" TItem="OrderProduct" Submit="@HandleAdd">
                    <ChildContent>
                        <DataAnnotationsValidator/>
                        @if (@HaveErrors)
                        {
                            <RadzenHeading Size="H6" Text="@Error" Style="text-align: center; color: red">
                            </RadzenHeading>
                        }
                        <div>
                            <RadzenLabel Text="Заказ" Component="Order" style="width: 100%">
                            </RadzenLabel>
                        </div>
                        <div>
                            <RadzenDropDownDataGrid @ref="grid" SearchText="Поиск по номеру заказа или ФИО сотрудника" AllowFilteringByAllStringColumns="true" AllowColumnResize="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"  TValue="Order" Data="@orders" Multiple="false" SelectedItemsText="Выбранных элементов" @bind-Value="@(orderproduct.Order)" style="width: 100%" TextProperty="Order_Number">
                                    <Columns>
                                    <RadzenDropDownDataGridColumn Property="Order_Number" Title="Номер заказа">
                                    </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="UserPost.User.Fullname" Title="ФИО сотрудника">
                                    </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="Date_Order" SortProperty="Date_Order" GroupProperty="Date_Order" FilterProperty="Date_Order" Title="Дата заказа">
                                    </RadzenDropDownDataGridColumn>
                                    </Columns>
                                </RadzenDropDownDataGrid>
                            <ValidationMessage For="@(() => orderproduct.Order)" />
                        </div>
                        <div>
                            <RadzenLabel Text="Продукт" Component="Product" style="width: 100%">
                            </RadzenLabel>
                        </div>
                        <div>
                            <RadzenDropDownDataGrid SearchText="Поиск по названию продукта или категории" AllowFilteringByAllStringColumns="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowColumnResize="true" TValue="ProductStorage" Data="@products" Multiple="false" SelectedItemsText="Выбранных элементов" TextProperty="Name" @bind-Value="@(orderproduct.Product)" style="width: 100%">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="Name" Title="Продукт">
                                        </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="Cost" Title="Цена">
                                        </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="Amount" Title="Количество в наличии">
                                        </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn  Property="Category.Name" Title="Категория">
                                        <Template Context="data">
                                            @(data.Category?.Name)
                                        </Template>
                                    </RadzenDropDownDataGridColumn>
                                </Columns>
                            </RadzenDropDownDataGrid>
                            <ValidationMessage For="@(() => orderproduct.Product)" />
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Количество" Component="Amount" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(orderproduct.Amount)" Min="1" Max="int.MaxValue"> 
                                </RadzenNumeric>
                                <ValidationMessage For="@(() => orderproduct.Amount)" />
                            </div>
                        </div>
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Цена состава заказа" Component="Price" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenNumeric MaxLength="3" style="display: block; width: 100%" @bind-Value="@(orderproduct.Price)" Min="(decimal)0.01" Max="(decimal)999999999999.99">
                                </RadzenNumeric>
                                <ValidationMessage For="@(() => orderproduct.Price)" />
                            </div>
                        </div>
                        <div class="row footer">
                            <div>
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonType="ButtonType.Button" Text="Закрыть" ButtonStyle="ButtonStyle.Danger" Click="@Close">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>