@page "/edit-userpost/{Id_UserPost}"
@layout MainLayout

@attribute [Authorize(Roles = "Администратор, Отдел кадров")]

<RadzenContent Container="main">
    <ChildContent>

        <div class="row">
            <div class="col-md-12">
                <RadzenTemplateForm Data="@userpost" TItem="UserPost" Submit="@HandleEdit">
                    <ChildContent>
                        @if (@HaveErrors)
                        {
                            <RadzenHeading Size="H6" Text="@Error" Style="text-align: center; color: red">
                            </RadzenHeading>
                        }
                        <DataAnnotationsValidator />
                        <div style="margin-bottom: 1rem" class="flex-column">
                            <div>
                                <RadzenLabel Text="Ставка" Component="Share" style="width: 100%">
                                </RadzenLabel>
                            </div>
                            <div>
                                <RadzenNumeric MaxLength="3" style="display: block; width: 100%" @bind-Value="@(userpost.Share)" Min="(decimal)0.01" Max="(decimal)1">
                                </RadzenNumeric>
                                <ValidationMessage For="@(() => userpost.Share)" />
                            </div>
                        </div>
                        <div class="row footer">
                            <div>
                                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Сохранить" ButtonStyle="ButtonStyle.Primary">
                                </RadzenButton>
                                <RadzenButton ButtonType="ButtonType.Button" Text="Закрыть" ButtonStyle="ButtonStyle.Danger" Click="@Close">
                                </RadzenButton>
                            </div>
                        </div>
                    </ChildContent>
                </RadzenTemplateForm>
            </div>
        </div>
    </ChildContent>
</RadzenContent>